body{
    margin: 5px 10px 0 10px;
    background-color:  #FDEDEC ;
}

.intro-details{
    display: flex;
    justify-content: space-around;
}

h1{
    font-family:  'Dongle';
    font-size: 70px;
}

span{
    font-family: 'Dancing Script';
    font-size: 50px;
    color: crimson;
}

span:hover{
    color: #5B1936;
}

.intro-img>img{
    height: 350px;
    width: 350px;
}
/* 2nd section started */
h2{
    font-size: 40px;
    text-align: center;
}
p{
    font-family: 'poppins';
    text-align: justify;
}
/* 3rd section started  */

.contact{
    display: flex;
    justify-content: space-around;
}

.container{
    background-color: #F7B3B3;
    border-radius: 5px;
    padding: 20px;
}