body{
    margin: 5px 10px 0 10px;
    background-color:  #D0ECE7  ;
}

.intro-details{
    display: flex;
    justify-content: space-around;
}

h1{
    font-family:  'Dongle';
    font-size: 70px;
}

span{
    font-family: 'Dancing Script';
    font-size: 50px;
    color: crimson;
}

span:hover{
    color: #5B1936;
}

.intro-img>img{
    height: 350px;
    width: 350px;
}
/* 2nd section started */
h2{
    font-size: 40px;
    text-align: center;
}
p{
    font-family: 'poppins';
    text-align: justify;
}
/* 3rd section started  */

.contact{
    display: flex;
    justify-content: space-around;
}

.container{
    background-color:  #E8F8F5;
    border-radius: 5px;
    padding: 20px;
}
h3{
    margin: 5px 0 5px 0;
}
h4{
    font-size: 35px;
    text-align: center;
}
.socials{
    display: flex;
    justify-content: space-evenly;
}


.fb{

    color: #0070F7;
}
.ln{
    color: #286c99 ;
}
.ig{
    color: #6e1268;
}
.tw{
    color: #3ea2e6 ;
}
footer{
    background-color: #1F618D ;
    color: black;
    text-align: center;
}
h5{
    font-family: 'poppins';
    font-size: 15px;
}

/* mediaqueryformobile */
@media only screen and (max-width:688px){
   .intro-details{
       display: flex;
       flex-direction: column;
   }
   .contact{
       display: flex;
       flex-direction: column;
   }
   .container{
       margin-bottom: 10px;
   }
}